header { 
      display: flex;
      justify-content: center;
      font-family: 'Tahoma', sans-serif;
      background-color: #ccffff;
      border: 5px solid;
      border-style: ridge;
      border-color: #002699;
     }
body {
      font-family: 'Tahoma', sans-serif;
      background-color: aqua;
      border: 5px solid;
      border-style: ridge;
      border-color: #7300e6;
      }
footer{
      display: inbox;
}
   h1 {
      color: #3366ff; 
      style: bold;
      margin: 7px;
      padding: 7px;
      }
   h2 {
      color: #009999;
      margin: 6px;
      padding: 6px;
      }
   h3 {
      color: #006666;
      margin: 5px;
      padding: 5px;
      }
   h4 {
      color: #004d4d;
      margin: 4px;
      padding: 4px;
     }
 fieldset {
      display: inbox;
      background-color: #e0fde0;
      border: 1px solid;
      border-color: #548c54;
      margin: 10px;
      padding: 19px;
          }
box {
      display: inbox; 
}
article {
      display: inbox;
      margin: 8px;
      padding: 16px;
}
