header { 
      font-family: 'Tahoma', sans-serif;
      background-color: #ccffff;
      border: 5px solid;
      border-style: ridge;
      border-color: #002699;
}
body {
      font-family: 'Tahoma', sans-serif;
      background-color: aqua;
      border: 5px solid;
      border-style: ridge;
      border-color: #7300e6;
     }
   h1 {
      color: #3366ff; 
      style: bold;
      margin: 10px;
      padding: 19px;
      }
   h2 {
      color: #009999;
      margin: 8px;
      padding: 16px;
      }
   h3 {
      color: #006666;
      margin: 6px;
      padding: 12px;
      }
   h4 {
      color: #004d4d;
      margin: 4px;
      padding: 8px;
     }
 fieldset {
      display: inbox;
      background-color: #e0fde0;
      border: 1px solid;
      border-color: #548c54;
      margin: 10px;
      padding: 19px;
      widht: 100%;
      height: 100%; 
     }
article {
      display: inbox;
      margin: 8px;
      padding: 16px;
}
