body {
      font-family: 'Montserrat', sans-serif;
      background-color: #e5e5e5;
      border: 3px solid;
      border-color: #8B0000 #8B0000 #8B0000 #000080;
      h2-color: #000080;
      p-color: #800000;
     }
a: link {
      color: #4682B4;
      }
h1 {
      color: #000080
    }
.toolbar li {
            display: inline;
            background-color: #EEE;
            border: 1px solid;
            border-color: #F3F3F3 #BBB #BBB #F3F3F3;
            margin: 5px;
            padding: 9px;
    }
      
   
