body {
      font-family: 'Montserrat', sans-serif;
      background-color: #e5e5e5;
      border: 5px solid;
      border-color: #8B0000 #8B0000 #8B0000 #000080;
      border-style: dotted;
      margin: 20px;
      padding: 20px;
     }
a: link {
      color: #4682B4;
      }
h1 {
      color: #000080;
      margin: 20px;
      padding: 20px;
    }
h2 {
      color: #8B0000;
      margin: 10px;
      padding: 10px;
    }
h3 {
      color: #8B0000;
      margin: 5px;
      padding: 5px;
}
p {
      color: #800000;
    }
.toolbar li {
            display: inbox;
            background-color: #EEE;
            border: 1px solid;
            border-color: #F3F3F3 #BBB #BBB #F3F3F3;
            margin: 15px;
            padding: 19px;
    }
      
   
