<style>
body {
      font-family: 'Montserrat', sans-serif;
      background-color: #e5e5e5;
      fieldset: widht: 60% height: 50%; 
      border: 1px solid;
      border-color: #8B0000 #8B0000 #8B0000 #000080;
      h1-color: #000080;
      h2-color: #000080;
      p-color: #800000;
     }
a: link {
      color: #4682B4;
      }
</style>
