body {
  width: 1200px;
  height: 500px;
  font-family: 'Montserrat', sans-serif;
  font-color: IndianRed;
  background-color: Bisque;
  border-style: dashed;
  border-width: 12px;
  border-color: LightCoral;
  margin: 15px;
  padding: 10px;
      }
