  header { 
          display: box;
          align-items: center;
          justify-content: center;
          background-color: #DFFEF4;
          font-family: Tahoma, sans-serif;
          font-color: ForestGreen;
          margin: 20px;
          padding: 20px;
  }
  body { 
         width:95%;
/*          display: flex; */
         background-color: #EDFFCA;    
         margin: 15px;
         padding: 15px;
         align-items: center;
         justify-content: center;
         font-family: Tahoma, sans-serif;
         font-color: DarkGreen;
        }

  .container {
    justify-content: center;
    margin: 40px;
    padding: 40px; 
        }

   .form-control,
   .form-select,
   .btn,
       {
         display: flex;
         justify-content: center;
         box-sizing: border-box;
         text-align: center;
         border-style: 5px inset; 
         border-color:  #6a5acd;
         background-color: #DFFEF4;
         border-radius: 7px;
         padding: 40px;
         margin: 40px; 
         font-family: Tahoma, sans-serif;
         font-color: DarkGreen;
        }
