   body {
         display: box; 
         background-color: Aquamarine;    
         margin: 0 auto;
         padding: 20px;
         align-items: center;
         justify-content: center;
         font-family: Tahoma, sans-serif;
         font-color: DarkGreen;
        }
 header { 
          display: flex;
          background-color: #DFFEF4;
          font-color: ForestGreen;
          margin: 20px;
   }

h1 {
      color: PantoneGreen;    
      margin: 5px;
}

h4 {
      color: CrayolaGreen;         
      margin: 5px;
}
h5 {
      color: DarkGreen;         
      margin: 5px;
}

  .col {
       display: flex;
       justify-content: center;
       margin: 10px;
       padding: 10px; 
        }

   .form-control,
   .form-select,
   .btn,
   .a,
   .b
       {
         display:flex;
         justify-content: center;
         box-sizing: content-box;
         text-align: center;
         border-style: 3px inset; 
         border-color:  #6a5acd;
         background-color: #DFFEF4;
         border-radius: 7px;
         padding: 24px 10px;
         margin: 20px; 
         font-family: Tahoma, sans-serif;
         font-color: DarkGreen;
        }
button {
  padding: 24px 10px:
}
