  header { 
         align-items: center;
         justify-content: center;
          background-color: #DFFEF4;
          font-family: Tahoma, sans-serif;
  }
  body {
         background-color: Aquamarine;    
         height: 100vh;
         margin: 10px;
         padding: 10px;
         display: inline;
         align-items: center;
         justify-content: center;
         font-family: Tahoma, sans-serif;
        }

       .container {
         margin-top: 50px;
        }

        .form-control,
        .form-select,
        .btn,
       {
         width: 200px;
         box-sizing: border-box;
         text-align: center;
         border: 5px inset #6a5acd;
         font-family: Tahoma, sans-serif;
         background: #DFFEF4;
         border-radius: 7px;
         padding: 8px;
        }

        .btn {
        margin-bottom: 15px;
        }
h1 {
        font-color: #9586f1;
} 
h4 {
        font-color: MediumSlateBlue;
}     
h5 {
        font-color: #6253BE;
} 
h6 {
       font-color:  #4e4298;
}
