div {
  width: 600px;
  height: 450px;
  background-color: coral;
  border-left-style: dotted;
  border-right-style: double;
  border-top-style: dashed;
  border-bottom-style: groove;
  border-width: 7px;
  border-color: chartreuse;
    }
