div {
  width: 200px;
  height: 150px;
  background-color: coral;
  border-left-style: dotted;
  border-right-style: double;
  border-top-style: dashed;
  border-bottom-style: groove;
  border-width: 10px;
  border-color: chartreuse;
    }
