header {
  widht: 700px;
  height: 500px;
  margin: 10px;
  padding: 10px:
  border: 1px solid CornflowerBlue;
  font-family: 'Tahoma', sans-serif;
  font-color: CornflowerBlue;
}
body {
    screen: inbox;
    margin: 10px;
    padding: 10px;
    background: LemonChiffon;
    font-family: 'Tahoma', sans-serif;
    font-color: CornflowerBlue;
  }
