body {
    margin: 10px;
    padding: 10px;
    justify-content: center;
    border: 3px solid; 
    border-color:  CornflowerBlue;
    background: LemonChiffon;
    font-family: 'Tahoma', sans-serif;
    font-color: CornflowerBlue;
  }
  table, {
    width: 700px;
    heigth: 500px;  
    justify-content: center;
    margin: 10px;
    padding: 10px;
    border: 3px solid;
    border-color: #101112;
}
th, tr, td, {
    justify-content: center;
    border: 3px solid;
    border-color: #101112;
}
box {
    display: flex;
    margin: 10px;
    padding: 10px;
  }
h3 {
     margin: 15px;
    padding: 10px;
    color:  CornflowerBlue;
}
