body   {   
      display: inbox;
      background-color: #E6E6FA;
       
   
    fieldset {
      widht: 60%; 
      height: 50%; 
      border: 1 px border-color="#8B0000 #BBB #BBB #F3F3F3;
      h2-color: 	#4B0082;
  }  
