body   {   
      display: flex;
      justify-content: center;
      background-color: #f7d5f7;
      font-family: 'Tahoma', sans-serif;
      widht: 100%; 
      height: 90%; 
      border: 3px;
      border-color: #4B0082;
      border-style: inset;
      margin: 20px;
      padding: 20px;
      }  
box {
      margin: 10px;
      padding: 10px;
}
h3 { 
      color: #210238;   
}
h5 {
     color: #0e0117;
}
